body {
  min-width: none;
  min-height: nonepx;
  background-color: rgb(255, 255, 255);
  font: 400 3.75em/1.38 Montserrat;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.image {
  display: block;
  min-width: none;
  height: auto;
  min-height: nonepx;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.social {
  width: 15%;
  min-width: none;
  height: 51px;
  min-height: nonepx;
  margin: 10px auto 0;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.text {
  min-width: none;
  min-height: nonepx;
  margin: 121px auto 0;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._container {
  display: block;
  float: left;
  min-width: none;
  height: 51px;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._image {
  width: 51px;
}

.image-1 {
  width: 68px;
}

.social ._container-1 {
  width: 48.5714285714%;
}

.social ._container-2 {
  width: 36.4285714285%;
  margin-left: 15%;
}

.text em,
.text span,
.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 1200px) {
  .social .image {
    height: auto;
  }
}

@media(max-width: 900px) {
  body {
    font-size: 3.75em;
  }

  .social {
    width: 20%;
  }

  .social .image {
    height: auto;
  }
}

@media(max-width: 700px) {
  .social {
    width: 25%;
  }

  .social .image {
    height: auto;
  }

  .social ._container-1 {
    margin-left: -0.00893%;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 3.75em;
  }

  .social {
    width: 30%;
  }

  .social .image {
    height: auto;
  }

  .social ._container-1 {
    margin-left: -0.01042%;
  }
}

@media(max-width: 400px) {
  .social {
    width: 40%;
  }

  .social .image {
    height: auto;
  }

  .social ._container-1 {
    margin-left: -0.00977%;
  }
}

@media(max-width: 350px) {
  body {
    font-size: 2.5em;
  }

  .social .image {
    height: auto;
  }

  .text {
    font-size: 40px;
  }

  .social ._container-1 {
    margin-left: 0;
  }
}

@media(max-width: 300px) {
  .social .image {
    height: auto;
  }
}

@media(max-width: 250px) {
  body {
    font-size: 2.5em;
  }

  .social {
    width: 50%;
  }

  .social .image {
    height: auto;
  }
}